body {
    color: darkblue;
    font-family: arial;
}

div {
    background-color: rgba(0, 255, 170, 0.425)
    border: dashed 10px red;
}
.second-div {
    background-color: rgb(0, 255, 170);
}

.myelement {
    color: white;
    font-size: 30px;
}